<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="Description" content="@Html.Render("Description")">
    <meta name="Keywords" content="@Html.Render("Keywords")">
    <title>@Html.Render("Title")</title>
    <link rel="stylesheet" href="/content/css/main.min.css">
    <link href="/content/js/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    @RenderBody()
</body>
</html>