@model PantherCMS.Controllers.PantherController.TestMail
    @*
        For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
    *@
    @{
// ViewBag.Title = "Home Page";
    }


From: Panther CMS <system@panthercms.nl>
To: Patrick Evers <pmdevers@gmail.com>
Priority: High
Subject: Test mail

<html>
<head></head>
<body>
    <h1>Hello World</h1>
    @Model.Test
</body>
</html>