$font                           : "Lato", "Helvetica Neue", Arial,sans-serif;
$color                          : #767676;
$background                     : #f3f3f3;

$navbar-color1                  : #6cc9f8;
$navbar-color2                  : #3bb7f6;
$navbar-color3                  : #0a94da;
$navbar-button-color1           : #19abf4;
$navbar-button-color2           : #0b9ee9;
$navbar-button-color3           : #0a94da;

$sidebar-first-item             : #0ca5f2;
$sidebar-first-item-border      : #0984c2;
$sidebar-background             : #1c2029;
$sidebar-border                 : #252935;
$sidebar-option-background      : $sidebar-background;

$sidemenu-color                 : rgba(255,255,255, 0.9);
$sidemenu-background            : #353c4d;
$sidemenu-border-bottom         : #40475c;
$sidemenu-cancel-color          : #555f7a;
$sidemenu-title-background      : #2b303e;
$sidemenu-title-color           : white;