@model Panther.CMS.Entities.Content
<div class="row clearfix">
    @foreach (var column in Model.Children)
    {
        @Html.Render(column.Name)
    }
</div>


@using (Html.RegisterScript())
{
    <script type="text/javascript">
        alert('alert');
    </script>
}
