<header class="clearfix">
  <a href="#/" class="toggle-min" toggle-min-nav>
    <i class="fa fa-bars"></i>
  </a>

  <!-- Logo -->
  <div class="logo">
    <a href="#/">
      <span>PantherCMS</span>
    </a>
  </div>

  <div class="menu-button" toggle-off-convas>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </div>

  <div class="top-nav">
    <ul class="nav-left list-unstyled">
      <li class="dropdown" dropdown is-open="isopenComment">
        
      </li>
    </ul>
  </div>
</header>
