<div id="nav-wrapper">
    <div class="slimScrollDiv">
        <ul id="nav" ng-controller="NavCtrl" collapse-nav slim-scroll highlight-active>
            <li>
                <a href="#/dashboard">
                    <i class="fa fa-dashboard">
                        <span class="icon-bg bg-danger"></span>
                    </i>
                    <span i18n="Dashboard"></span>
                </a>
            </li>
            <li>
                <a href="#/ui">
                    <i class="fa fa-magic">
                        <span class="icon-bg bg-orange"></span>
                    </i>
                    <span i18n="UI Kit"></span>
                </a>
                <ul>
                    <li>
                        <a href="#/ui/buttons">
                            <i class="fa fa-caret-right"></i>
                            <span i18n="Buttons"></span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
